In [ ]:
# Class : user defined datatype. it is a blue print or template for creating objects
# Object : instance of class/ variable of class

In [1]:
a=8
type(a)

int

In [2]:
list1=[1,5,3,7]
type(list1)

list

In [ ]:
list1.append()

In [ ]:
# objectname=classname();

In [4]:
# empty list
l2=[]
elist=list()
print(elist)
# create empty tuple
t1=tuple()
print(t1)

[]
()

In [ ]:
def efun():
  pass

In [9]:
# create empty class
class eclass:
  pass

# object of empty class
obj1=eclass()
type(obj1)

__main__.eclass

In [7]:
type(eclass)

type

In [8]:
type(int)

type

In [ ]:
# create class employee consisting of attributes empid,empname,salary methods display()

In [ ]:
# constructor __init__() : is class method used to initialise object (setting starting value of attributes)
# constructor is invoked automatically when object is created

In [30]:
class employees:
  def __init__(self,id,name,sal):
    self.empid=id
    self.empname=name
    self.salary=sal
  def display(self):
    print("Employee Id=",id)
    print("Employee Name=",self.empname)
    print("Employee Salary=",self.salary)

In [ ]:
# create object of class employees
eobj=employees(101,'Namo',78520)# will invoke constructor (__init__())
eobj.display()

In [47]:
# create class BankAccount  accholder, balance, define constructor, display

class BankAccounts:
  def __init__(self,accholder, balance):
    self.accholder=accholder
    self.balance=balance
  def display(self):
    print("accholder=",self.accholder)
    print("balance=",self.balance)
  def deposit(self,amt):
    self.balance=self.balance+amt
    print("Amount deposited Successfully, Avail.Bal is ",self.balance)
  def withdraw(self,amt):
    if amt<self.balance:
      self.balance=self.balance-amt
      print("Amount withdrawn ",amt," Avail.Bal is ",self.balance)
    else:
      print("Insufficient Funds")

b1=BankAccounts('Satyendra',1000)
b1.display()

accholder= Satyendra
balance= 1000

In [55]:
b2=BankAccounts("Ajay",1500)
b3=BankAccounts("Sushma",2000)

In [56]:
objlist=[b1,b2,b3]

In [57]:
for i in objlist:
  i.display()

accholder= Satyendra
balance= 1000
accholder= Ajay
balance= 1500
accholder= Sushma
balance= 2000

In [58]:
import pandas as pd

In [61]:
headers=['Name','Balance']

In [62]:
pd.DataFrame(i.__dict__ for i in objlist )

   accholder  balance
0  Satyendra     1000
1       Ajay     1500
2     Sushma     2000

In [43]:
b1.deposit(500)

Amount deposited Successfully, Avail.Bal is  1500

In [44]:
b1.deposit(2000)

Amount deposited Successfully, Avail.Bal is  3500

In [45]:
b1.withdraw(1000)

Amount withdrawn  1000  Avail.Bal is  2500

In [48]:
b1.withdraw(10000)

Insufficient Funds

Inheritance

In [51]:
class vehicle:
  def __init__(self,m,f):
    self.manufacturer=m
    self.fueltype=f
  def display(self):
    print("Manufacturer=",self.manufacturer)
    print("Fuel type=",self.fueltype)

In [52]:
# create a class called two-wheeler having attributes like maufacturer, fueltype and braketype

class two_wheeler(vehicle):
  def __init__(self,ma,fuel,braketype):
    super().__init__(ma,fuel)# initialising parent class constructor
    self.braketype=braketype
  def showbikes(self):
    super().display()
    print("Brake type=",self.braketype)

In [54]:
av=two_wheeler("Honda","Petrol","Disk")
av.showbikes()

Manufacturer= Honda
Fuel type= Petrol
Brake type= Disk

In [2]:
#
import pandas as pd
df=pd.read_csv(r"C:\Users\dabha\OneDrive\Documents\CoachX\CX-139\Python\cars.csv")
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [3]:
midsizedf=df[df['Type']=='Midsize']

In [67]:
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Acura,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Acura,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,Acura,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Acura,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Acura,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Acura,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Acura,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Acura,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [4]:
# convert data frame to csv/excel
# export to the given location
midsizedf.to_csv("C:/Users/dabha/OneDrive/Desktop/midsize.csv")